<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= link_to 'Show', customer, class: "btn btn-warning" %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-warning"  %></td>
        <td><%= link_to 'Delete', customer,class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path, class: "btn btn-warning btn-sm" %>
